<%= form_for([@crew_member, evaluation]) do |f| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :star_date %>
    <%= f.text_field :star_date, id: "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :assessment %>
    <%= f.text_area :assessment %>
  </div>

  <div class="field">
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select([["Poor", "poor"], ["Acceptable", "acceptable"], ["Excellent", "excellent"]]) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
