<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>
<%= form_tag destroy_multiple_crew_member_evaluations_path, method: :delete do %>
  <table>
    <thead>
      <tr>
        <th>Star date</th>
        <th>Date</th>
        <th>Assessment</th>
        <th>Rating</th>
        <th>Crew member</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @evaluations.each do |evaluation| %>
        <tr>
          <td><%= evaluation.star_date %></td>
          <td><%= evaluation.assessment %></td>
          <td><%= evaluation.rating %></td>
          <td><%= link_to 'Show', crew_member_evaluation_path(@crew_member, evaluation) %></td>
          <td><%= link_to 'Edit', edit_crew_member_evaluation_path(@crew_member, evaluation) %></td>
          <td><%= link_to 'Destroy', [@crew_member, evaluation], method: :delete, data: { confirm: 'Are you sure?' } %></td> 
          <td><%= label_tag "evaluations_ids[]", "Select for deletion" %> <%= check_box_tag "evaluations_ids[]", evaluation.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= submit_tag "Delete selected evaluations" %>
<% end %>
<br>

<%= link_to 'New Evaluation', new_crew_member_evaluation_path(@crew_member) %>