<%= form_for(@crew_member, url: {controller: "crew_member_first", action: "update"}) do |f| %>
  <% if @crew_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crew_member.errors.count, "error") %> 
        prohibited this crew member from being saved:</h2>
      <ul>
        <% @crew_member.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  Select a Starship
  <div>
    <%= f.collection_select :starship_id, Starship.all, :id, :name, prompt: 'Select Starship' %>
  </div>
  Or Create a New Starship
  <div>
    <%= f.fields_for :starship do |starship| %>
      <%= starship.label :name %>
      <%= starship.text_field :name %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Update Crew Member" %>
  </div>
<% end %>